.Dictionary section {
  background-color: wheat;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px gray;
  margin: 20px 0;
}
.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 4px;
  color: purple;
  border: 1px solid;
}
