:root {
  --primary-font: "Playfair Display SC", serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: rgb(34, 43, 36);
  --background-color: rgb(238, 220, 202);
}

.Phonetic {
  height: 60px;
}

.Phonetic a {
  border: 1px solid gray;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 150mx ease-in-out;
  font-size: 12px;
  margin-left: 10px;
}

.Phonetic a:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.Phonetic .text {
  opacity: 0.7;
}
